@using Stupify.Models;

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>@ViewBag.Artist.Name</title>
</head>
<body>
<div>@ViewBag.Artist.Description</div>
<br/>
<table>
    @foreach (Song song in ViewBag.Songs)
    {
        <tr>
            <td>@song.Name</td>
            <td>
                <audio controls="" name="media">
                    <source src="@song.Address" type="audio/mpeg">
                </audio>
            </td>
        </tr>
    }

</table>
</body>
</html>