@using Stupify.Models;

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Все артисты</title>
</head>
<body>
<table>
    <tr>
        <td>Исполнитель</td>
        <td>Песен</td>
    </tr>
    @foreach (Artist artist in ViewBag.Artists)
    {
        <tr>
            <td>
                <a href="/Artists/@artist.Id">@artist.Name</a>
            </td>
            <td>@artist.Songs.Count</td>
        </tr>
    }
</table>
</body>
</html>